 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    * {
        font-family: "Inter", sans-serif;
    }
    .client-content .contact-info span {
        font-size: 18px;
         font-weight:700;
        color: #ffffff;
    }

    .client-content .created-date {
        position: absolute;
        top: 12px;
        left: 12px;
        color: #ffffff;
        font-size: 16px;
    }

    .client-content .contract-detail-date {
        position: absolute;
        top: 12px;
        right: 12px;
        color: #ffffff;
        font-size: 16px;
    }

    .asdcasdcasdc p {
        width: 100%;
        max-width: calc(100%/3 - 32px);
    }
    .invoice {
        width: 915.64px;
        margin: 80px auto;
        border: 1px solid #000;
        padding-top: 10px;
    }

    .invoice .header-invoice {
        text-align: center;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
    }

    .invoice .header-invoice h1 {
        font-family: "Inter", serif;
        margin: 0;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .invoice .header-invoice p {
        margin: 2px 0;
        font-size: 16px;
        font-weight: 400;
    }

    .invoice .party-details,
    .invoice .billing-details {
        display: flex;
    }

    .invoice .details-1 {
        width: 583.4px;
        border-right: 1px solid black;
        padding-left: 10px;
    }

    .invoice .details-1 strong {
        font-family: "Inter", serif;
        font-size: 20px;
        font-weight: 700;
    }

    .invoice .details-1 p {
        text-transform: uppercase;
        margin-bottom: 5px !important;
    }

    .invoice .details-2 {
        width: 332.25px;
        text-align: left;
        padding: 5px 0px 0px 10px;
    }

    .invoice .details-2 p {
        font-size: 14px;
        margin-bottom: 5px !important;
    }

    .invoice table {
        width: calc(100% + 2px);
        border-collapse: collapse;
        margin: 10px 0;
    }

    .invoice table,
    .invoice th,
    .invoice td {
        /* border: 1px solid #000; */
    }

    .invoice th,
    .invoice td {
        padding: 8px;
        text-align: center;
        font-size: 12px;
    }

    .invoice .totals {
        text-align: right;
        margin-top: 10px;
    }

    .invoice .totals p {
        margin: 2px 0;
    }

    .invoice .declaration {
        font-size: 16px;
        margin-top: 10px;
        border-bottom: 1px solid black;
        padding-left: 25px;
    }

    .authorized-sign {
        font-size: 12px;
    }

    .bordered-cell {
        border-width: var(--bs-border-width) !important;
    }

    .table-bordered>:not(caption)>* {
        border-width: 0px !important;
    }

    table {
        text-align: center;
    }

    td {
        vertical-align: middle;
    }

    .specific-center {
        text-align: left;
    }

    .term-and-conditions {
        width: 457.82px;
        padding: 12px 41px 0px 25px;
        border-right: 1px solid black;
    }

    .signature {
        width: 457.82px;
        padding: 10px 10px 10px 15px;
    }

    .name {
        margin-top: 120px;
        font-size: 14px;
        font-weight: 400;
    }

   

    .wages-sheet {
        max-width: 650px;
        margin: auto;
        border: 1px solid #eee;
        background-color: #fff;
    }

    .table td,
    .table th {
        vertical-align: middle;
    }

    .wages-sheet-header {
        border-bottom: 3px solid #EAF4FE;
        /* background-image: url(./Vector\ 1.png); */
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .total-salary {
        background-color: #029C1021;
        padding: 15px;
        box-shadow: 0 4px 4px 0 #00000040;
    }

    .employee-details {
        border-bottom: 2px solid #ececec;
    }

    .salary-summary {
        border-bottom: 2px solid #ececec;
    }

    .wages-days h5 span {
        white-space: pre-wrap;
        width: 100%;
        height: 100% !important;
        border: 2px solid #47D9A054;
        border-radius: 50%;
        max-width: 62px;
        max-height: 80px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-left: 10px;
        font-size: 14px;
        font-weight: 400;
    }

    .basic-salary-box {
        border: 1px solid #CDCDCD;
        margin-top: 40px;
    }

    .basic-salary-box .amount {
        color: #029C10;
        font-size: 32px;
        font-weight: 500;
    }

    .salary-details p {
        display: flex;
    }

    .salary-details p b {
        width: 100%;
        max-width: 178px;
        display: grid
    }
    .salary-details p b .plus {
        font-size: 12px;
        font-weight: 300;
        margin-top: -5px;
    }

    .salary-details p span.span {
        width: 100%;
        max-width: 20px;
    }

    @media print {
        .pdf-only {
            display: block;
        }
        .web-only {
            display: none;
        }
    }
                            .asfxrtnfgj .invoice {
                                width: 100%;
                                max-width: 600px;
                            }

                            .asfxrtnfgj .invoice .header-invoice h1 {
                                font-size: 18px;
                                margin-bottom: 14px;
                                width: 100%;
                                max-width: 80%;
                                margin: auto;
                            }

                            .asfxrtnfgj .invoice .header-invoice p.ertyuio {
                                font-size: 14px;
                                width: 100%;
                                max-width: 80%;
                                margin: auto;
                            }

                            .asfxrtnfgj .invoice .header-invoice p {
                                font-size: 14px;
                            }

                            .asfxrtnfgj .dash-tabs .nav {
                                box-shadow: 0px 0px 13px 0px #c7c7c7;
                            }